/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font
font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif;

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700 */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    
}

main{
    display: grid;
    place-items: center;
    margin: 50px;
}

.container{
    display: flex;
    border-radius: 10px;
    background-color: white;
}

.left_container{
    padding-right: 2rem;
}

.perfume_image{
    border-radius: 10px 0px 0px 10px;
    max-width: 20rem;
    display: block;
    height: 100%;
}

.mobile_image{
    display: none;
}

.right_container{
    padding: 2.5rem 3rem 0 0.75rem;

}

article h3{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 0.90rem;
    font-weight: 400;
    color: hsl(228, 12%, 48%);
}

article h1{
    padding-top: 1.75rem;
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    color: hsl(212, 21%, 14%);
    max-width: 18rem;
    line-height: 2.8rem;
}

article p{
    padding-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    max-width: 17rem;
    line-height: 1.5rem;
}

.price{
    display: flex;
    text-align: center;
    padding-bottom: 2rem;
    gap: 1rem;
}

.now_price{
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: #fff;
    border-radius: 0.5rem;
    width: 100%;
}

button img{
    padding-right: 0.5rem;
}

button:hover{
    background-color: hsl(159, 42%, 20%);
    transition: 1s;
    cursor: pointer;
}

@media screen and (max-width:800px) {

    .container{
        flex-direction: column;
    }

    .left_container{
        padding: 0px;
    }
    
    .perfume_image{
       display: none;
    }

    .mobile_image{
        display: block;
        width: 450px;
        border-radius: 10px 10px 0px 0px;
    }

    .right_container{
        padding: 2rem 2rem 2rem 3rem;
    }

    article h1{
        max-width: 22rem;
    }

    article p{
        max-width: 21rem;
    }

    button{
        margin-bottom: 1rem;
    }

    button img{
        padding-right: 0.5rem;
    }

    button:hover{
        background-color: hsl(159, 42%, 20%);
        transition: 1s;
        cursor: pointer;
    }
}